* {
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: dimgray;
  height: 70px;
}
header nav {
  display: grid;
  grid-template-columns: 200px auto;
  justify-content: center;
}

header ul {
  width: 760px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  align-items: center;
  justify-content: space-evenly;
}
header ul li {
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: white;
}

main {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 960px;
  justify-content: center;
  gap: 30px;
}

main div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
}
main div:nth-child(3) {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 440px);
  justify-content: space-between;
}
main div:nth-child(3) section {
  height: 400px;
}
main div:nth-child(3) section p {
  height: 340px;
  overflow-y: scroll;
}
main div:nth-child(3) section input {
  margin: 10px;
  width: 130px;
  height: 30px;
  background-color: black;
  color: white;
}

main div:nth-child(3) section p::-webkit-scrollbar {
  display: none;
}

main div:nth-child(3) section p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

footer {
  margin-top: 60px;
}
